TOKEN=discord_bot_token
GUILD=onyx_rbw_guild_id
MYSQL_URL=mysql://user:password@host:port/onyx_rbw
HYPIXEL_KEY=hypixel_api_key
SOCKET_KEY=shared_secret_for_minecraft_bots
PORT=8080
NODE_ENV=production
